<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Web Widgets</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../static/css/custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">Web Widgets</a>
                <div class="nav-collapse collapse">
                    <form class="navbar-form pull-right" method="post" action="/login">
                        <input class="span2" type="text" placeholder="Username" name="username">
                        <input class="span2" type="password" placeholder="Password" name="password">
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-unit">
            <h1>Web Widgets</h1>
            <p>This is my example web widget store which I will use to demonstrate integration with the 2Checkout's API, INS, Checkout and Return process using Python.</p>
            <p><a class="btn btn-primary btn-large" href="/register">Signup</a></p>
        </div>

        <div class="row">
            <div class="span12">
                <h2>Only $1.00 per month!</h2>
                <p>For one low monthly fee you get access to hundreds of the highest quality widgets. New widgets are added daily!</p>
            </div>
        </div>
    </div>
    <hr>
</body>
</html>
